<!doctype html>
<html>
<head>
    <style>
.container {
    position: relative;
    text-align: center;
    color: white;
}

h2 {
    font-size: 250%;
}
.centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    </style>
    <body>
        <header>
            <img width="100px" src="http://www.iconsdb.com/icons/preview/orange/fish-xxl.png">
        </header>
       
        <main role="main">
            <div class="container">
  <img width="1300px" height="700" src="https://static.pexels.com/photos/240561/pexels-photo-240561.jpeg" alt="Fishing boat" style="width:100%;">
  <div class="centered"><h2>Like a fish out of water</h2>
  <button>sign up</button></div>
</div>
        </main>
        
    </body>
</head>
</html>